.cards-outer-wrapper{
    width:310px;
    height:370px;
    background-image: linear-gradient(to bottom right, #48d1cc, #afeeee, #eaffff,#eafafa);
    color: #2f4f4f;
    font-family: "Segoe UI";
}
.cards-outer-wrapper:hover{
    transform: translate(0 , -10px);
    transition: transform 0.1s ease-in-out;
}
.cards-outer-wrapper a,a:hover,a:visited{
    text-decoration: none;
    color: #2f4f4f;
    cursor:pointer
}
.card-logo-wrapper{
    padding-top:15px;
}
.card-header-text{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.card-content li{
    text-align: left;
    list-style: none;
}
.title-value{
    font-weight: bold;
}
.card-content{
    flex-flow: wrap;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}
.card-content a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.card-content a:visited{
    text-decoration:none;
    fcolor: #2f4f4f;
}
.title-name{
    font-style: italic;
    font-size: 16px;
}