.contents-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    background: #E7F7F1;
}
.individual-card-wrapper{
    padding:8px 0;
}
.loader-wrapper{
    padding-top: 20%;
    vertical-align: middle;
}